<!-- web.xml -->
<web-app >
    
    <servlet>
        <servlet-name>DeathPredictionServlet</servlet-name>
        <servlet-class>DeathPredictionServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DeathPredictionServlet</servlet-name>
        <url-pattern>/DeathPredictionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VisitCounterServlet</servlet-name>
        <servlet-class>VisitCounterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VisitCounterServlet</servlet-name>
        <url-pattern>/visitCounter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>kitappliances</servlet-name>
        <servlet-class>kitappliances</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>kitappliances</servlet-name>
        <url-pattern>/kitappliances</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>KitchenAppliancesServlet</servlet-name>
        <servlet-class>KitchenAppliancesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KitchenAppliancesServlet</servlet-name>
        <url-pattern>/kitchencookies</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>KitchenAppliancesServlet2</servlet-name>
        <servlet-class>KitchenAppliancesServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KitchenAppliancesServlet2</servlet-name>
        <url-pattern>/kitchenForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>KitchenAppliancesServlet3</servlet-name>
        <servlet-class>KitchenAppliancesServlet3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KitchenAppliancesServlet3</servlet-name>
        <url-pattern>/kitchenhttpsession</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>KitchenAppliancesServlet4</servlet-name>
        <servlet-class>KitchenAppliancesServlet4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KitchenAppliancesServlet4</servlet-name>
        <url-pattern>/kitchenurl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>KitchenAppliancesServlet5</servlet-name>
        <servlet-class>KitchenAppliancesServlet5</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KitchenAppliancesServlet5</servlet-name>
        <url-pattern>/kitchenAppliancesServlet5</url-pattern>
    </servlet-mapping>

</web-app>
